cfs entry for: _1fv.fld
doc 0
  field 0
    name cella
    type string
    value âˆ’1
  field 0
    name cella
    type string
    value chloride
  field 0
    name cella
    type string
    value clâˆ’
  field 0
    name cella
    type string
    value the chloride ion
doc 1
  field 0
    name cella
    type string
    value +1
  field 0
    name cella
    type string
    value hypochlorite
  field 0
    name cella
    type string
    value cloâˆ’
  field 0
    name cella
    type string
    value the hypochlorite ion
doc 2
  field 0
    name cella
    type string
    value +3
  field 0
    name cella
    type string
    value chlorite
  field 0
    name cella
    type string
    value cloâˆ’ 2
  field 0
    name cella
    type string
    value the chlorite ion
doc 3
  field 0
    name cella
    type string
    value +5
  field 0
    name cella
    type string
    value chlorate
  field 0
    name cella
    type string
    value cloâˆ’ 3
  field 0
    name cella
    type string
    value the chlorate ion
doc 4
  field 0
    name cella
    type string
    value +7
  field 0
    name cella
    type string
    value perchlorate
  field 0
    name cella
    type string
    value cloâˆ’ 4
  field 0
    name cella
    type string
    value the perchlorate ion
END
checksum 00000000002347120690
cfs entry for: _1fv.inf
number of fields 1
  name cella
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  soft-deletes false
checksum 00000000001070385063
cfs entry for: _1fv.pst
field cella
  term +1
    doc 1
  term +3
    doc 2
  term +5
    doc 3
  term +7
    doc 4
  term chlorate
    doc 3
  term chloride
    doc 0
  term chlorite
    doc 2
  term cloâˆ’
    doc 1
  term cloâˆ’ 2
    doc 2
  term cloâˆ’ 3
    doc 3
  term cloâˆ’ 4
    doc 4
  term clâˆ’
    doc 0
  term hypochlorite
    doc 1
  term perchlorate
    doc 4
  term the chlorate ion
    doc 3
  term the chloride ion
    doc 0
  term the chlorite ion
    doc 2
  term the hypochlorite ion
    doc 1
  term the perchlorate ion
    doc 4
  term âˆ’1
    doc 0
END
checksum 00000000000952609516
table of contents, size: 3
  filename: _1fv.fld
    start: 24
    end: 1333
  filename: _1fv.inf
    start: 1357
    end: 1658
  filename: _1fv.pst
    start: 1682
    end: 2293
table of contents begins at offset: 0000000000000002293
