cfs entry for: _1fy.fld
doc 0
  field 0
    name cella
    type string
    value torino
  field 0
    name cella
    type string
    value novara
  field 0
    name cella
    type string
    value alessandria
  field 0
    name cella
    type string
    value asti
  field 0
    name cella
    type string
    value moncalieri
  field 0
    name cella
    type string
    value cuneo
  field 0
    name cella
    type string
    value collegno
  field 0
    name cella
    type string
    value rivoli
  field 0
    name cella
    type string
    value nichelino
  field 0
    name cella
    type string
    value settimo torinese
doc 1
  field 0
    name cella
    type string
    value 130,17
  field 0
    name cella
    type string
    value 103,05
  field 0
    name cella
    type string
    value 203,97
  field 0
    name cella
    type string
    value 151,82
  field 0
    name cella
    type string
    value 47,63
  field 0
    name cella
    type string
    value 119,88
  field 0
    name cella
    type string
    value 18,12
  field 0
    name cella
    type string
    value 29,52
  field 0
    name cella
    type string
    value 20,64
  field 0
    name cella
    type string
    value 32,37
doc 2
  field 0
    name cella
    type string
    value 6.878
  field 0
    name cella
    type string
    value 1.013
  field 0
    name cella
    type string
    value 460
  field 0
    name cella
    type string
    value 504
  field 0
    name cella
    type string
    value 1.197
  field 0
    name cella
    type string
    value 468
  field 0
    name cella
    type string
    value 2.756
  field 0
    name cella
    type string
    value 1.653
  field 0
    name cella
    type string
    value 2.334
  field 0
    name cella
    type string
    value 1.473
doc 3
  field 0
    name cella
    type string
    value 239
  field 0
    name cella
    type string
    value 162
  field 0
    name cella
    type string
    value 95
  field 0
    name cella
    type string
    value 123
  field 0
    name cella
    type string
    value 260
  field 0
    name cella
    type string
    value 534
  field 0
    name cella
    type string
    value 302
  field 0
    name cella
    type string
    value 390
  field 0
    name cella
    type string
    value 229
  field 0
    name cella
    type string
    value 207
doc 4
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value no
  field 0
    name cella
    type string
    value al
  field 0
    name cella
    type string
    value at
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value cn
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value to
END
checksum 00000000000808327467
cfs entry for: _1fy.inf
number of fields 1
  name cella
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  soft-deletes false
checksum 00000000001070385063
cfs entry for: _1fy.pst
field cella
  term 1.013
    doc 2
  term 1.197
    doc 2
  term 1.473
    doc 2
  term 1.653
    doc 2
  term 103,05
    doc 1
  term 119,88
    doc 1
  term 123
    doc 3
  term 130,17
    doc 1
  term 151,82
    doc 1
  term 162
    doc 3
  term 18,12
    doc 1
  term 2.334
    doc 2
  term 2.756
    doc 2
  term 20,64
    doc 1
  term 203,97
    doc 1
  term 207
    doc 3
  term 229
    doc 3
  term 239
    doc 3
  term 260
    doc 3
  term 29,52
    doc 1
  term 302
    doc 3
  term 32,37
    doc 1
  term 390
    doc 3
  term 460
    doc 2
  term 468
    doc 2
  term 47,63
    doc 1
  term 504
    doc 2
  term 534
    doc 3
  term 6.878
    doc 2
  term 95
    doc 3
  term al
    doc 4
  term alessandria
    doc 0
  term asti
    doc 0
  term at
    doc 4
  term cn
    doc 4
  term collegno
    doc 0
  term cuneo
    doc 0
  term moncalieri
    doc 0
  term nichelino
    doc 0
  term no
    doc 4
  term novara
    doc 0
  term rivoli
    doc 0
  term settimo torinese
    doc 0
  term to
    doc 4
  term torino
    doc 0
END
checksum 00000000003715159619
table of contents, size: 3
  filename: _1fy.fld
    start: 24
    end: 2917
  filename: _1fy.inf
    start: 2941
    end: 3242
  filename: _1fy.pst
    start: 3266
    end: 4341
table of contents begins at offset: 0000000000000004341
