cfs entry for: _1g0.fld
doc 0
  field 0
    name cella
    type string
    value vercelli
  field 0
    name cella
    type string
    value biella
  field 0
    name cella
    type string
    value grugliasco
  field 0
    name cella
    type string
    value chieri
  field 0
    name cella
    type string
    value pinerolo
  field 0
    name cella
    type string
    value casale monferrato
  field 0
    name cella
    type string
    value venaria reale
  field 0
    name cella
    type string
    value alba
  field 0
    name cella
    type string
    value verbania
  field 0
    name cella
    type string
    value bra, piedmont
  field 0
    name cella
    type string
    value carmagnola
  field 0
    name cella
    type string
    value novi ligure
  field 0
    name cella
    type string
    value tortona
  field 0
    name cella
    type string
    value chivasso
  field 0
    name cella
    type string
    value fossano
  field 0
    name cella
    type string
    value ivrea
  field 0
    name cella
    type string
    value orbassano
  field 0
    name cella
    type string
    value mondovã¬
  field 0
    name cella
    type string
    value borgomanero
  field 0
    name cella
    type string
    value savigliano
  field 0
    name cella
    type string
    value trecate
  field 0
    name cella
    type string
    value acqui terme
doc 1
  field 0
    name cella
    type string
    value 79,85
  field 0
    name cella
    type string
    value 46,68
  field 0
    name cella
    type string
    value 13,12
  field 0
    name cella
    type string
    value 54,30
  field 0
    name cella
    type string
    value 50,28
  field 0
    name cella
    type string
    value 86,32
  field 0
    name cella
    type string
    value 20,29
  field 0
    name cella
    type string
    value 54,01
  field 0
    name cella
    type string
    value 36,62
  field 0
    name cella
    type string
    value 59,61
  field 0
    name cella
    type string
    value 96,38
  field 0
    name cella
    type string
    value 54,22
  field 0
    name cella
    type string
    value 99,29
  field 0
    name cella
    type string
    value 51,31
  field 0
    name cella
    type string
    value 130,72
  field 0
    name cella
    type string
    value 30,19
  field 0
    name cella
    type string
    value 22,05
  field 0
    name cella
    type string
    value 87,25
  field 0
    name cella
    type string
    value 32,36
  field 0
    name cella
    type string
    value 110,73
  field 0
    name cella
    type string
    value 38,38
  field 0
    name cella
    type string
    value 33,30
doc 2
  field 0
    name cella
    type string
    value 586
  field 0
    name cella
    type string
    value 961
  field 0
    name cella
    type string
    value 2.889
  field 0
    name cella
    type string
    value 677
  field 0
    name cella
    type string
    value 711
  field 0
    name cella
    type string
    value 400
  field 0
    name cella
    type string
    value 1.687
  field 0
    name cella
    type string
    value 581
  field 0
    name cella
    type string
    value 844
  field 0
    name cella
    type string
    value 498
  field 0
    name cella
    type string
    value 301
  field 0
    name cella
    type string
    value 521
  field 0
    name cella
    type string
    value 278
  field 0
    name cella
    type string
    value 520
  field 0
    name cella
    type string
    value 189
  field 0
    name cella
    type string
    value 781
  field 0
    name cella
    type string
    value 1.053
  field 0
    name cella
    type string
    value 258
  field 0
    name cella
    type string
    value 670
  field 0
    name cella
    type string
    value 192
  field 0
    name cella
    type string
    value 529
  field 0
    name cella
    type string
    value 602
doc 3
  field 0
    name cella
    type string
    value 130
  field 0
    name cella
    type string
    value 417
  field 0
    name cella
    type string
    value 293
  field 0
    name cella
    type string
    value 305
  field 0
    name cella
    type string
    value 376
  field 0
    name cella
    type string
    value 116
  field 0
    name cella
    type string
    value 262
  field 0
    name cella
    type string
    value 172
  field 0
    name cella
    type string
    value 197
  field 0
    name cella
    type string
    value 285
  field 0
    name cella
    type string
    value 240
  field 0
    name cella
    type string
    value 199
  field 0
    name cella
    type string
    value 122
  field 0
    name cella
    type string
    value 183
  field 0
    name cella
    type string
    value 375
  field 0
    name cella
    type string
    value 253
  field 0
    name cella
    type string
    value 273
  field 0
    name cella
    type string
    value 395
  field 0
    name cella
    type string
    value 307
  field 0
    name cella
    type string
    value 321
  field 0
    name cella
    type string
    value 136
  field 0
    name cella
    type string
    value 156
doc 4
  field 0
    name cella
    type string
    value vc
  field 0
    name cella
    type string
    value bi
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value al
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value cn
  field 0
    name cella
    type string
    value vb
  field 0
    name cella
    type string
    value cn
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value al
  field 0
    name cella
    type string
    value al
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value cn
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value to
  field 0
    name cella
    type string
    value cn
  field 0
    name cella
    type string
    value no
  field 0
    name cella
    type string
    value cn
  field 0
    name cella
    type string
    value no
  field 0
    name cella
    type string
    value al
END
checksum 00000000001657554083
cfs entry for: _1g0.inf
number of fields 1
  name cella
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  soft-deletes false
checksum 00000000001070385063
cfs entry for: _1g0.pst
field cella
  term 1.053
    doc 2
  term 1.687
    doc 2
  term 110,73
    doc 1
  term 116
    doc 3
  term 122
    doc 3
  term 13,12
    doc 1
  term 130
    doc 3
  term 130,72
    doc 1
  term 136
    doc 3
  term 156
    doc 3
  term 172
    doc 3
  term 183
    doc 3
  term 189
    doc 2
  term 192
    doc 2
  term 197
    doc 3
  term 199
    doc 3
  term 2.889
    doc 2
  term 20,29
    doc 1
  term 22,05
    doc 1
  term 240
    doc 3
  term 253
    doc 3
  term 258
    doc 2
  term 262
    doc 3
  term 273
    doc 3
  term 278
    doc 2
  term 285
    doc 3
  term 293
    doc 3
  term 30,19
    doc 1
  term 301
    doc 2
  term 305
    doc 3
  term 307
    doc 3
  term 32,36
    doc 1
  term 321
    doc 3
  term 33,30
    doc 1
  term 36,62
    doc 1
  term 375
    doc 3
  term 376
    doc 3
  term 38,38
    doc 1
  term 395
    doc 3
  term 400
    doc 2
  term 417
    doc 3
  term 46,68
    doc 1
  term 498
    doc 2
  term 50,28
    doc 1
  term 51,31
    doc 1
  term 520
    doc 2
  term 521
    doc 2
  term 529
    doc 2
  term 54,01
    doc 1
  term 54,22
    doc 1
  term 54,30
    doc 1
  term 581
    doc 2
  term 586
    doc 2
  term 59,61
    doc 1
  term 602
    doc 2
  term 670
    doc 2
  term 677
    doc 2
  term 711
    doc 2
  term 781
    doc 2
  term 79,85
    doc 1
  term 844
    doc 2
  term 86,32
    doc 1
  term 87,25
    doc 1
  term 96,38
    doc 1
  term 961
    doc 2
  term 99,29
    doc 1
  term acqui terme
    doc 0
  term al
    doc 4
  term alba
    doc 0
  term bi
    doc 4
  term biella
    doc 0
  term borgomanero
    doc 0
  term bra, piedmont
    doc 0
  term carmagnola
    doc 0
  term casale monferrato
    doc 0
  term chieri
    doc 0
  term chivasso
    doc 0
  term cn
    doc 4
  term fossano
    doc 0
  term grugliasco
    doc 0
  term ivrea
    doc 0
  term mondovã¬
    doc 0
  term no
    doc 4
  term novi ligure
    doc 0
  term orbassano
    doc 0
  term pinerolo
    doc 0
  term savigliano
    doc 0
  term to
    doc 4
  term tortona
    doc 0
  term trecate
    doc 0
  term vb
    doc 4
  term vc
    doc 4
  term venaria reale
    doc 0
  term verbania
    doc 0
  term vercelli
    doc 0
END
checksum 00000000000496869514
table of contents, size: 3
  filename: _1g0.fld
    start: 24
    end: 6301
  filename: _1g0.inf
    start: 6325
    end: 6626
  filename: _1g0.pst
    start: 6650
    end: 8869
table of contents begins at offset: 0000000000000008869
