cfs entry for: _1g1.fld
doc 0
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
  field 0
    name cella
    type string
    value santos
doc 1
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 29
  field 0
    name cella
    type string
    value 38
  field 0
    name cella
    type string
    value 32
  field 0
    name cella
    type string
    value 30
  field 0
    name cella
    type string
    value 26
  field 0
    name cella
    type string
    value 26
  field 0
    name cella
    type string
    value 19
  field 0
    name cella
    type string
    value 21
  field 0
    name cella
    type string
    value 30
  field 0
    name cella
    type string
    value 14
  field 0
    name cella
    type string
    value 18
  field 0
    name cella
    type string
    value 21
  field 0
    name cella
    type string
    value 25
  field 0
    name cella
    type string
    value 15
  field 0
    name cella
    type string
    value 19
  field 0
    name cella
    type string
    value 20
  field 0
    name cella
    type string
    value 19
  field 0
    name cella
    type string
    value 10
doc 2
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 36
  field 0
    name cella
    type string
    value 58
  field 0
    name cella
    type string
    value 45
  field 0
    name cella
    type string
    value 33
  field 0
    name cella
    type string
    value 47
  field 0
    name cella
    type string
    value 37
  field 0
    name cella
    type string
    value 22
  field 0
    name cella
    type string
    value 34
  field 0
    name cella
    type string
    value 49
  field 0
    name cella
    type string
    value 13
  field 0
    name cella
    type string
    value 16
  field 0
    name cella
    type string
    value 17
  field 0
    name cella
    type string
    value 26
  field 0
    name cella
    type string
    value 7
  field 0
    name cella
    type string
    value 8
  field 0
    name cella
    type string
    value 9
  field 0
    name cella
    type string
    value 11
  field 0
    name cella
    type string
    value 1
doc 3
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 9
  field 0
    name cella
    type string
    value 8
  field 0
    name cella
    type string
    value 7
  field 0
    name cella
    type string
    value 3
  field 0
    name cella
    type string
    value 7
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 8
  field 0
    name cella
    type string
    value 4
  field 0
    name cella
    type string
    value 7
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
doc 4
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 5
  field 0
    name cella
    type string
    value 8
  field 0
    name cella
    type string
    value 6
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 8
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 14
  field 0
    name cella
    type string
    value 3
  field 0
    name cella
    type string
    value 5
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
doc 5
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 14
  field 0
    name cella
    type string
    value 17
  field 0
    name cella
    type string
    value 12
  field 0
    name cella
    type string
    value 13
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
doc 6
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 9
  field 0
    name cella
    type string
    value 11
  field 0
    name cella
    type string
    value 12
  field 0
    name cella
    type string
    value 4
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
doc 7
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 21
  field 0
    name cella
    type string
    value 16
  field 0
    name cella
    type string
    value 30
  field 0
    name cella
    type string
    value 17
doc 8
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 1
  field 0
    name cella
    type string
    value 5
  field 0
    name cella
    type string
    value 19
  field 0
    name cella
    type string
    value 9
doc 9
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 4
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 5
  field 0
    name cella
    type string
    value 5
  field 0
    name cella
    type string
    value 4
  field 0
    name cella
    type string
    value 6
  field 0
    name cella
    type string
    value 4
  field 0
    name cella
    type string
    value 5
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
doc 10
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 2
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 7
  field 0
    name cella
    type string
    value 2
  field 0
    name cella
    type string
    value 8
  field 0
    name cella
    type string
    value 7
  field 0
    name cella
    type string
    value 2
  field 0
    name cella
    type string
    value 2
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
doc 11
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 38
  field 0
    name cella
    type string
    value 46
  field 0
    name cella
    type string
    value 39
  field 0
    name cella
    type string
    value 33
  field 0
    name cella
    type string
    value 33
  field 0
    name cella
    type string
    value 26
  field 0
    name cella
    type string
    value 27
  field 0
    name cella
    type string
    value 25
  field 0
    name cella
    type string
    value 37
  field 0
    name cella
    type string
    value 14
  field 0
    name cella
    type string
    value 32
  field 0
    name cella
    type string
    value 38
  field 0
    name cella
    type string
    value 37
  field 0
    name cella
    type string
    value 28
  field 0
    name cella
    type string
    value 40
  field 0
    name cella
    type string
    value 36
  field 0
    name cella
    type string
    value 49
  field 0
    name cella
    type string
    value 27
doc 12
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 41
  field 0
    name cella
    type string
    value 66
  field 0
    name cella
    type string
    value 51
  field 0
    name cella
    type string
    value 33
  field 0
    name cella
    type string
    value 55
  field 0
    name cella
    type string
    value 37
  field 0
    name cella
    type string
    value 36
  field 0
    name cella
    type string
    value 37
  field 0
    name cella
    type string
    value 54
  field 0
    name cella
    type string
    value 13
  field 0
    name cella
    type string
    value 25
  field 0
    name cella
    type string
    value 28
  field 0
    name cella
    type string
    value 38
  field 0
    name cella
    type string
    value 11
  field 0
    name cella
    type string
    value 9
  field 0
    name cella
    type string
    value 14
  field 0
    name cella
    type string
    value 30
  field 0
    name cella
    type string
    value 10
doc 13
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 4
  field 0
    name cella
    type string
    value 4
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 7
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value -
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value -
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
doc 14
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 4
  field 0
    name cella
    type string
    value 5
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 8
  field 0
    name cella
    type string
    value -
  field 0
    name cella
    type string
    value -
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value -
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
  field 0
    name cella
    type string
    value 0
END
checksum 00000000000436753709
cfs entry for: _1g1.inf
number of fields 1
  name cella
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  soft-deletes false
checksum 00000000001070385063
cfs entry for: _1g1.pst
field cella
  term 
    doc 3
    doc 4
    doc 5
    doc 6
    doc 7
    doc 8
    doc 9
    doc 10
    doc 13
    doc 14
    skipList 
      level 0
        skipDoc 10
        skipDocFP 20
        impacts 
          impact 
            freq 1
            norm 1
        impactsEnd 
  term -
    doc 13
    doc 14
  term 0
    doc 1
    doc 2
    doc 3
    doc 4
    doc 9
    doc 10
    doc 11
    doc 12
    doc 13
    doc 14
    skipList 
      level 0
        skipDoc 12
        skipDocFP 324
        impacts 
          impact 
            freq 1
            norm 1
        impactsEnd 
  term 1
    doc 2
    doc 8
  term 10
    doc 1
    doc 12
  term 11
    doc 2
    doc 6
    doc 12
  term 12
    doc 5
    doc 6
  term 13
    doc 2
    doc 5
    doc 12
  term 14
    doc 1
    doc 4
    doc 5
    doc 11
    doc 12
  term 15
    doc 1
  term 16
    doc 2
    doc 7
  term 17
    doc 2
    doc 5
    doc 7
  term 18
    doc 1
  term 19
    doc 1
    doc 8
  term 2
    doc 10
  term 20
    doc 1
  term 21
    doc 1
    doc 7
  term 22
    doc 2
  term 25
    doc 1
    doc 11
    doc 12
  term 26
    doc 1
    doc 2
    doc 11
  term 27
    doc 11
  term 28
    doc 11
    doc 12
  term 29
    doc 1
  term 3
    doc 3
    doc 4
  term 30
    doc 1
    doc 7
    doc 12
  term 32
    doc 1
    doc 11
  term 33
    doc 2
    doc 11
    doc 12
  term 34
    doc 2
  term 36
    doc 2
    doc 11
    doc 12
  term 37
    doc 2
    doc 11
    doc 12
  term 38
    doc 1
    doc 11
    doc 12
  term 39
    doc 11
  term 4
    doc 3
    doc 6
    doc 9
    doc 13
    doc 14
  term 40
    doc 11
  term 41
    doc 12
  term 45
    doc 2
  term 46
    doc 11
  term 47
    doc 2
  term 49
    doc 2
    doc 11
  term 5
    doc 4
    doc 8
    doc 9
    doc 14
  term 51
    doc 12
  term 54
    doc 12
  term 55
    doc 12
  term 58
    doc 2
  term 6
    doc 4
    doc 9
  term 66
    doc 12
  term 7
    doc 2
    doc 3
    doc 10
    doc 13
  term 8
    doc 2
    doc 3
    doc 4
    doc 10
    doc 14
  term 9
    doc 2
    doc 3
    doc 6
    doc 8
    doc 12
  term santos
    doc 0
END
checksum 00000000001168240202
table of contents, size: 3
  filename: _1g1.fld
    start: 24
    end: 15327
  filename: _1g1.inf
    start: 15351
    end: 15652
  filename: _1g1.pst
    start: 15676
    end: 17805
table of contents begins at offset: 0000000000000017805
