cfs entry for: _qqi.fld
doc 0
  field 0
    name cella
    type string
    value singular
  field 0
    name cella
    type string
    value singular
  field 0
    name cella
    type string
    value singular
  field 0
    name cella
    type string
    value singular
  field 0
    name cella
    type string
    value singular
  field 0
    name cella
    type string
    value dual
  field 0
    name cella
    type string
    value dual
  field 0
    name cella
    type string
    value dual
  field 0
    name cella
    type string
    value plural
  field 0
    name cella
    type string
    value plural
  field 0
    name cella
    type string
    value plural
  field 0
    name cella
    type string
    value plural
  field 0
    name cella
    type string
    value plural
doc 1
  field 0
    name cella
    type string
    value katab
  field 0
    name cella
    type string
    value write
  field 0
    name cella
    type string
    value ʼaktubu
  field 0
    name cella
    type string
    value taktubīna
  field 0
    name cella
    type string
    value taktubu
  field 0
    name cella
    type string
    value taktubu
  field 0
    name cella
    type string
    value yaktubu
  field 0
    name cella
    type string
    value taktubāni
  field 0
    name cella
    type string
    value taktubāni
  field 0
    name cella
    type string
    value yaktubāni
  field 0
    name cella
    type string
    value naktubu
  field 0
    name cella
    type string
    value taktubūna
  field 0
    name cella
    type string
    value taktubna
  field 0
    name cella
    type string
    value yaktubūna
  field 0
    name cella
    type string
    value yaktubna
doc 2
  field 0
    name cella
    type string
    value mou
  field 0
    name cella
    type string
    value die
  field 0
    name cella
    type string
    value timou
  field 0
    name cella
    type string
    value temou
  field 0
    name cella
    type string
    value kmou
  field 0
    name cella
    type string
    value smou
  field 0
    name cella
    type string
    value fmou
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value tənmou
  field 0
    name cella
    type string
    value tetənmou
  field 0
    name cella
    type string
    value tetənmou
  field 0
    name cella
    type string
    value semou
  field 0
    name cella
    type string
    value semou
doc 3
  field 0
    name cella
    type string
    value afeg
  field 0
    name cella
    type string
    value fly
  field 0
    name cella
    type string
    value ttafgeɣ
  field 0
    name cella
    type string
    value tettafgeḍ
  field 0
    name cella
    type string
    value tettafgeḍ
  field 0
    name cella
    type string
    value tettafeg
  field 0
    name cella
    type string
    value yettafeg
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value nettafeg
  field 0
    name cella
    type string
    value tettafgem
  field 0
    name cella
    type string
    value tettafgemt
  field 0
    name cella
    type string
    value ttafgen
  field 0
    name cella
    type string
    value ttafgent
doc 4
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value come
  field 0
    name cella
    type string
    value imaadaa
  field 0
    name cella
    type string
    value timaadaa
  field 0
    name cella
    type string
    value timaadaa
  field 0
    name cella
    type string
    value timaadaa
  field 0
    name cella
    type string
    value yimaadaa
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value nimaadnaa
  field 0
    name cella
    type string
    value timaadaan
  field 0
    name cella
    type string
    value timaadaan
  field 0
    name cella
    type string
    value yimaadaan
  field 0
    name cella
    type string
    value yimaadaan
doc 5
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value eat
  field 0
    name cella
    type string
    value tamáni
  field 0
    name cella
    type string
    value tamtínii
  field 0
    name cella
    type string
    value tamtíniya
  field 0
    name cella
    type string
    value tamtíni
  field 0
    name cella
    type string
    value tamíni
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value támnay
  field 0
    name cella
    type string
    value támteena
  field 0
    name cella
    type string
    value támteena
  field 0
    name cella
    type string
    value támeen
  field 0
    name cella
    type string
    value támeen
doc 6
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value drink
  field 0
    name cella
    type string
    value ina shan
  field 0
    name cella
    type string
    value kina shan
  field 0
    name cella
    type string
    value kana shan
  field 0
    name cella
    type string
    value tana shan
  field 0
    name cella
    type string
    value yana shan
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value 
  field 0
    name cella
    type string
    value muna shan
  field 0
    name cella
    type string
    value kuna shan
  field 0
    name cella
    type string
    value kuna shan
  field 0
    name cella
    type string
    value suna shan
  field 0
    name cella
    type string
    value suna shan
END
checksum 00000000003839046036
cfs entry for: _qqi.inf
number of fields 1
  name cella
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  soft-deletes false
checksum 00000000001070385063
cfs entry for: _qqi.pst
field cella
  term 
    doc 2
    doc 3
    doc 4
    doc 5
    doc 6
  term afeg
    doc 3
  term come
    doc 4
  term die
    doc 2
  term drink
    doc 6
  term dual
    doc 0
  term eat
    doc 5
  term fly
    doc 3
  term fmou
    doc 2
  term imaadaa
    doc 4
  term ina shan
    doc 6
  term kana shan
    doc 6
  term katab
    doc 1
  term kina shan
    doc 6
  term kmou
    doc 2
  term kuna shan
    doc 6
  term mou
    doc 2
  term muna shan
    doc 6
  term naktubu
    doc 1
  term nettafeg
    doc 3
  term nimaadnaa
    doc 4
  term plural
    doc 0
  term semou
    doc 2
  term singular
    doc 0
  term smou
    doc 2
  term suna shan
    doc 6
  term taktubna
    doc 1
  term taktubu
    doc 1
  term taktubāni
    doc 1
  term taktubīna
    doc 1
  term taktubūna
    doc 1
  term tamtíni
    doc 5
  term tamtínii
    doc 5
  term tamtíniya
    doc 5
  term tamáni
    doc 5
  term tamíni
    doc 5
  term tana shan
    doc 6
  term temou
    doc 2
  term tettafeg
    doc 3
  term tettafgem
    doc 3
  term tettafgemt
    doc 3
  term tettafgeḍ
    doc 3
  term tetənmou
    doc 2
  term timaadaa
    doc 4
  term timaadaan
    doc 4
  term timou
    doc 2
  term ttafgen
    doc 3
  term ttafgent
    doc 3
  term ttafgeɣ
    doc 3
  term támeen
    doc 5
  term támnay
    doc 5
  term támteena
    doc 5
  term tənmou
    doc 2
  term write
    doc 1
  term yaktubna
    doc 1
  term yaktubu
    doc 1
  term yaktubāni
    doc 1
  term yaktubūna
    doc 1
  term yana shan
    doc 6
  term yettafeg
    doc 3
  term yimaadaa
    doc 4
  term yimaadaan
    doc 4
  term ʼaktubu
    doc 1
END
checksum 00000000000101816909
table of contents, size: 3
  filename: _qqi.fld
    start: 24
    end: 5667
  filename: _qqi.inf
    start: 5691
    end: 5992
  filename: _qqi.pst
    start: 6016
    end: 7689
table of contents begins at offset: 0000000000000007689
